# Node.js
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/

# Miscellaneous
npm-debug.log*
yarn-error.log*
